doctype html
html
  head
     include dashboardhead
  body
    div#wrapper
       include dashboardnavigation
       div#page-wrapper
          div.row
             div.col-lg-12
                h1.page-header Dashboard

          div.row
             div.col-lg-8
                div.panel.panel-default
                   div.panel-heading Player Table
                   div.panel-body
                      div.table-responsive
                         table#dataTables1.table.table-striped.table-bordered.table-hover
                            thead
                               tr
                                  th Id
                                  th Name
                                  th Team Name
                               tbody#tbodyPlayers
                                  tr
                                     td Loading...
                                     td Loading...
                                     td Loading...
                div.panel.panel-default
                   div.panel-heading
                      | New Player
                   div.panel-body
                      div.form
                         div.form-group
                            label Name
                            input.form-control
                            br
                            label Country
                            select#countryOptions.form-control(multiple)
                               option Belgie
                               option Brazilie
                               option Spanje
                      button.btn.btn-default(type = 'submit') Submit
                      &nbsp
                      button.btn.btn-default(type = 'reset') Reset

             // end div-log-8
             div.col-lg-4
                div.panel.panel-info
                   div.panel-heading
                      | My Stats
                   div.panel-body
                      p Ranking: 1
                      p Total Points: 133


    include dashboardscripts
    script(src='js/dashboard.js')
