doctype html
html
  head
     include dashboardhead
  body
    div#wrapper
       include dashboardnavigation
       div#page-wrapper
          div.row
             div.col-lg-12
                h1.page-header Dashboard

          div.row
             div.col-lg-8
                div.panel.panel-default
                   div.panel-heading
                      Table Example
                   div.panel-body
                      div.table-responsive
                         table#dataTables1.table.table-striped.table-bordered.table-hover
                            thead
                               tr
                                  th Id
                                  th Name
                                  th Team Name
                               tbody#tbodyPlayers
                                  tr
                                     td Loading...
                                     td Loading...
                                     td Loading...

             // end div-log-8
             div.col-lg-4
                div.panel.panel-info
                   div.panel-heading
                      | My Stats
                   div.panel-body
                      p Ranking: 1
                      p Total Points: 133


    include dashboardscripts
    script(src='js/dashboard.js')
