doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 101 Template
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/jumbotron.css', rel='stylesheet')
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    body
       div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          div.container
             div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                     span.sr-only Toggle navigation
                     span.icon-bar
                     span.icon-bar
                     span.icon-bar
                  a.navbar-brand(href='#')
                  p Project name
               div.navbar-collapse.collapse
                  form.navbar-form.navbar-right(role='form')
                     div.form-group
                        input.form-control(type='text', placeholder='Email')
                     div.form-group
                        input.form-control(type='password', placeholder='Password')
                     button.btn.btn-success(type='submit') Sign in


      div.jumbotron
         div.container
            h1 Promo WK V0.01
            p Hier staat nog wat tekst met meer informatie. Zoveel je wilt. 1 2 3 ...
            p
               a.btn.btn-primary.btn-lg(role='button') Sign Up Here*


      div.container
         div.row
            div.col-md-4
               h2 Heading 1
               p Text en informatie of opties
               p
                  a.btn.btn-default(role='button', href="#") Meer Info
            div.col-md-4
               h2 Heading 2
               p Text en informatie of opties
               p
                  a.btn.btn-default(role='button', href="#") Meer Info
            div.col-md-4
               h2 Heading 4
               p Text en informatie of opties
               p
                  a.btn.btn-default(role='button', href="#") Meer Info
         hr
         footer
            p &copy; Under Constuction - Tim Witters


       // jQuery (necessary for Bootstrap's JavaScript plugins)
       script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
       // Include all compiled plugins (below), or include individual files as needed
       script(src='js/bootstrap.min.js')
